---
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";


---
<DetailPostLayout
	title="Conservatory"
	description = 'Conservatory Animation',
	keywords = 'Conservatory, Ad Animation',
>
	<div class="post">
		<main class="post-wrapper">
			<DetailHeader
			tag="PROJECT"
			description="">
					<h1 class="font-type">
						Seasons of the Conservatory
					</h1>
			</DetailHeader>

			<section>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<p class="post-desc">
								<p>The client asked for an eye-catching animation of conservatory roof panels, I had fun exploring diffent ways to solve problems:</p>
									<ul>
										<li>Custom tree builder - built my own generator(guides help a ton!) so leaves are simulated as POP points, giving precise control.</li>
										<li>Snow-buildup workflow - set up a Volume VOP system to fade smoothly between snowy and clear roofs; minor artifacts stay hidden by the camera move.</li>
										<li>Efficient snow/rain particles for Solaris - learned to pack the weather FX properly so taht Houdini stays responsive even with dense particle counts.</li>
										<li>Procedural animation everywhere - the conservatory, brickwork, and surrounding vegetation all where animate procedurally.</li>
									</ul>
								</p>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				<video width="100%" autoplay loop muted>
					<source src="/assets/projects/Conservatory/conservatory_v006_1080_square.mp4">
				</video>
				<br>
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
img{
	border:1px solid #ececec;
}
.btn{
	display: flex;
	gap: 16px;
}
</style>
