---
import { Image } from "astro:assets";
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";


//Enter the folder address, all files will be automatically loaded according to the file name and compressed into webp format
const images = await Astro.glob('../../assets/projects/Danfoss/*.{jpg,png,webp}');

---
<DetailPostLayout
	title="Danfoss"
	description = '270 degree Animation movie for Immersive experience',
	keywords = 'Danfoss, CGI Movie',
>
	<div class="post">
		<main class="post-wrapper">
			<DetailHeader
			tag="PROJECT"
			description="">
					<h1 class="font-type">
						Danfoss
					</h1>
			</DetailHeader>

			<section>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<p class="post-desc">
								<p>Short movie about a traveling underwater. This movie was produced in 270 degree version, projections go on to the separate windows.</p>
								My responsibilities included: 
								<ul>
									<li>Assemble environment</li>
									<li>Use Houdini to create seamless water surface</li>
									<li>Shading, Lighting and Compositing for whole movie.</li>
									<li>Render optimization.</li>
								</ul>
								<br>
								Software used: Maya, Redshift, Nuke, Houdini
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				<div>
					Some screenshots from the movie:
				</div>
				{images.map((img, index) => (
					<picture class="gsap-picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
img{
	border:1px solid #ececec;
}
.btn{
	display: flex;
	gap: 16px;
}
</style>
