---
import { Image } from "astro:assets";
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";


//Enter the folder address, all files will be automatically loaded according to the file name and compressed into webp format
const images = await Astro.glob('../../assets/projects/Immersium/*.{jpg,png,webp}');

---
<DetailPostLayout
	title="Immersium"
	description = '270 degree Animation movie for Immersive experience',
	keywords = 'Immersium, CGI Movie',
>
	<div class="post">
		<main class="post-wrapper">
			<DetailHeader
			tag="PROJECT"
			description="">
					<h1 class="font-type">
						Immersium
					</h1>
			</DetailHeader>

			<section>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<p class="post-desc">
								Short Immersium movie for IMMERSIUM:WIEN. This movie was produced in 360 degree version to be projected on all sides.
								Responsibilities:
								<ul>
									<li>Research and develop custom camera setup for projection</li>
									<li>Rendering and compositing</li>
								</ul> 
								Software used: Unreal, Maya, Redshift, Nuke, Houdini
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				<div>
					Some screenshots from the movie(Unfortunately it's really hard to preview it on flat screen):
				</div>
				{images.map((img, index) => (
					<picture class="gsap-picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
img{
	border:1px solid #ececec;
}
.btn{
	display: flex;
	gap: 16px;
}
</style>
